In [79]:
import pandas as pd
import numpy as np

df = pd.read_csv("retail_sales_clean.csv")
df["Planned revenue"] = df["Planned revenue"].apply(lambda x: x/1000000)
df["Revenue"] = df["Revenue"].apply(lambda x: x/1000000)
df["Planned revenue"].sum()
df["Revenue"].sum()

4686.7757688500005

In [80]:
world_df = df.groupby(["Year"])["Planned revenue","Revenue"].sum()
world_df["Retailer country"] = "World"
world_df['Year'] = world_df.index
df = pd.concat([df,world_df])
world_df

      Planned revenue      Revenue Retailer country  Year
Year
2004       968.475138   914.352804            World  2004
2005      1218.177467  1159.195590            World  2005
2006      1560.738880  1495.891101            World  2006
2007      1171.950878  1117.336274            World  2007

In [81]:
clean_df = df[["Year","Revenue","Planned revenue", "Retailer country"]]\
    .groupby(["Retailer country", "Year"])[["Revenue","Planned revenue"]].sum()
clean_df

                           Revenue  Planned revenue
Retailer country Year
Australia        2005    25.607044        27.032910
                 2006    47.799737        50.346079
                 2007    35.893188        37.932817
Austria          2004    30.342790        31.497704
                 2005    34.568090        35.994583
                 2006    44.996737        46.748631
                 2007    33.801789        35.308439
Belgium          2004    16.073048        16.640048
                 2005    30.396297        32.001318
                 2006    38.375433        40.026309
                 2007    28.186840        29.528025
Brazil           2004    29.211008        30.715630
                 2005    34.234876        35.916139
                 2006    43.389954        45.151584
                 2007    31.440841        32.914075
Canada           2004    59.271677        62.519526
                 2005    75.428386        78.692359
                 2006    98.134069       101.900271
                 2007    73.325209        76.540904
China            2004    68.421694        72.806557
                 2005    79.080488        83.257534
                 2006    99.109352       103.735733
                 2007    70.633377        74.282154
Denmark          2004    14.114492        14.912452
                 2005    15.893267        16.482298
                 2006    20.050466        20.761695
                 2007    11.954800        12.369676
Finland          2004    36.353327        38.746764
                 2005    47.826647        50.452997
                 2006    59.648620        62.523653
...                            ...              ...
Netherlands      2005    44.421660        46.775111
                 2006    58.301768        60.991290
                 2007    46.212968        48.552514
Singapore        2004    41.360571        44.167210
                 2005    48.204223        51.102845
                 2006    60.942903        63.722642
                 2007    47.114688        49.468031
Spain            2004    28.302695        30.058287
                 2005    39.237620        41.297912
                 2006    55.846233        58.387546
                 2007    41.679916        43.892791
Sweden           2004    14.775910        15.542027
                 2005    23.966997        25.066250
                 2006    30.360527        31.513732
                 2007    26.308001        27.501227
Switzerland      2005    26.286562        27.416937
                 2006    41.463606        43.015022
                 2007    32.981707        34.458717
United Kingdom   2004    58.286459        61.909961
                 2005    69.420604        72.912968
                 2006    84.920826        88.474320
                 2007    64.881658        68.001166
United States    2004   176.101611       185.952101
                 2005   201.462260       211.408834
                 2006   258.036621       268.426054
                 2007   191.312080       200.214576
World            2004   914.352804       968.475138
                 2005  1159.195590      1218.177467
                 2006  1495.891101      1560.738880
                 2007  1117.336274      1171.950878

[86 rows x 2 columns]

In [82]:
data_dict = clean_df.to_dict()
data_dict

{'Revenue': {('Australia', 2005): 25.607043500000017,
  ('Australia', 2006): 47.799737140000005,
  ('Australia', 2007): 35.893188499999994,
  ('Austria', 2004): 30.342789669999995,
  ('Austria', 2005): 34.568089629999996,
  ('Austria', 2006): 44.996737039999985,
  ('Austria', 2007): 33.801788980000005,
  ('Belgium', 2004): 16.07304772,
  ('Belgium', 2005): 30.396297490000016,
  ('Belgium', 2006): 38.37543268000002,
  ('Belgium', 2007): 28.186839740000018,
  ('Brazil', 2004): 29.211007610000014,
  ('Brazil', 2005): 34.23487629999999,
  ('Brazil', 2006): 43.38995366,
  ('Brazil', 2007): 31.440841480000014,
  ('Canada', 2004): 59.27167652000001,
  ('Canada', 2005): 75.42838609000005,
  ('Canada', 2006): 98.13406939000002,
  ('Canada', 2007): 73.32520939000005,
  ('China', 2004): 68.42169423000003,
  ('China', 2005): 79.08048780000003,
  ('China', 2006): 99.10935166999988,
  ('China', 2007): 70.63337705999999,
  ('Denmark', 2004): 14.114491579999992,
  ('Denmark', 2005): 15.893266560000004,
  ('Denmark', 2006): 20.05046570999999,
  ('Denmark', 2007): 11.954799660000006,
  ('Finland', 2004): 36.353326760000016,
  ('Finland', 2005): 47.82664739999999,
  ('Finland', 2006): 59.64862002999999,
  ('Finland', 2007): 44.74671594,
  ('France', 2004): 67.04585997000001,
  ('France', 2005): 72.23782499,
  ('France', 2006): 83.07592112000003,
  ('France', 2007): 64.20989607,
  ('Germany', 2004): 61.539365409999995,
  ('Germany', 2005): 65.23804533,
  ('Germany', 2006): 78.11378653999991,
  ('Germany', 2007): 57.42183150999999,
  ('Italy', 2004): 32.017325570000004,
  ('Italy', 2005): 46.13592514999997,
  ('Italy', 2006): 61.86904939999997,
  ('Italy', 2007): 46.62579855999998,
  ('Japan', 2004): 75.78110832999998,
  ('Japan', 2005): 86.34022966,
  ('Japan', 2006): 112.13701479999992,
  ('Japan', 2007): 83.18825416000001,
  ('Korea', 2004): 42.15117455000002,
  ('Korea', 2005): 50.84497303000003,
  ('Korea', 2006): 60.714213160000014,
  ('Korea', 2007): 47.01494635000002,
  ('Mexico', 2004): 27.8174082,
  ('Mexico', 2005): 42.363571969999995,
  ('Mexico', 2006): 58.60426471000001,
  ('Mexico', 2007): 38.40176834,
  ('Netherlands', 2004): 35.385280990000005,
  ('Netherlands', 2005): 44.42165964000002,
  ('Netherlands', 2006): 58.30176795000005,
  ('Netherlands', 2007): 46.21296804999998,
  ('Singapore', 2004): 41.360570890000005,
  ('Singapore', 2005): 48.204222880000046,
  ('Singapore', 2006): 60.942902919999966,
  ('Singapore', 2007): 47.114688349999966,
  ('Spain', 2004): 28.302695480000008,
  ('Spain', 2005): 39.23762010999997,
  ('Spain', 2006): 55.846232969999996,
  ('Spain', 2007): 41.67991566,
  ('Sweden', 2004): 14.775910280000007,
  ('Sweden', 2005): 23.96699715,
  ('Sweden', 2006): 30.360527049999995,
  ('Sweden', 2007): 26.308001060000002,
  ('Switzerland', 2005): 26.286562369999977,
  ('Switzerland', 2006): 41.463606440000014,
  ('Switzerland', 2007): 32.981706700000025,
  ('United Kingdom', 2004): 58.286458939999996,
  ('United Kingdom', 2005): 69.42060357000003,
  ('United Kingdom', 2006): 84.92082567000007,
  ('United Kingdom', 2007): 64.88165837999996,
  ('United States', 2004): 176.1016110199999,
  ('United States', 2005): 201.46225953999988,
  ('United States', 2006): 258.03662085000013,
  ('United States', 2007): 191.3120801300001,
  ('World', 2004): 914.352803720002,
  ('World', 2005): 1159.1955901600013,
  ('World', 2006): 1495.891100899997,
  ('World', 2007): 1117.336274069999},
 'Planned revenue': {('Australia', 2005): 27.032910209999997,
  ('Australia', 2006): 50.346078859999984,
  ('Australia', 2007): 37.93281702000002,
  ('Austria', 2004): 31.497703969999993,
  ('Austria', 2005): 35.99458276000001,
  ('Austria', 2006): 46.748631140000015,
  ('Austria', 2007): 35.308439069999984,
  ('Belgium', 2004): 16.64004783,
  ('Belgium', 2005): 32.001318480000016,
  ('Belgium', 2006): 40.02630886000004,
  ('Belgium', 2007): 29.528025130000007,
  ('Brazil', 2004): 30.71563022000001,
  ('Brazil', 2005): 35.916138589999996,
  ('Brazil', 2006): 45.151584060000005,
  ('Brazil', 2007): 32.914074670000005,
  ('Canada', 2004): 62.519525960000024,
  ('Canada', 2005): 78.69235903000002,
  ('Canada', 2006): 101.90027064000002,
  ('Canada', 2007): 76.54090415000003,
  ('China', 2004): 72.80655674999998,
  ('China', 2005): 83.25753426000004,
  ('China', 2006): 103.73573283999991,
  ('China', 2007): 74.28215390000001,
  ('Denmark', 2004): 14.912451859999996,
  ('Denmark', 2005): 16.48229775,
  ('Denmark', 2006): 20.761695339999985,
  ('Denmark', 2007): 12.369675739999998,
  ('Finland', 2004): 38.74676439000003,
  ('Finland', 2005): 50.45299691000001,
  ('Finland', 2006): 62.523653260000025,
  ('Finland', 2007): 47.22684974999999,
  ('France', 2004): 70.79659559,
  ('France', 2005): 75.72149547999996,
  ('France', 2006): 86.41380875999997,
  ('France', 2007): 67.23441434000004,
  ('Germany', 2004): 65.18942039000002,
  ('Germany', 2005): 68.46743724000004,
  ('Germany', 2006): 81.53692949999991,
  ('Germany', 2007): 60.282231750000015,
  ('Italy', 2004): 33.959650470000014,
  ('Italy', 2005): 48.502247229999966,
  ('Italy', 2006): 64.71885552000002,
  ('Italy', 2007): 49.00110938000002,
  ('Japan', 2004): 80.34040583999993,
  ('Japan', 2005): 90.61093435000005,
  ('Japan', 2006): 116.61793572999993,
  ('Japan', 2007): 86.86860969999995,
  ('Korea', 2004): 45.318723320000004,
  ('Korea', 2005): 54.049851820000015,
  ('Korea', 2006): 63.87845284000002,
  ('Korea', 2007): 49.69256072000004,
  ('Mexico', 2004): 29.80385034999998,
  ('Mexico', 2005): 45.01450523999999,
  ('Mexico', 2006): 61.848335709999986,
  ('Mexico', 2007): 40.67999173999998,
  ('Netherlands', 2004): 37.59822509999997,
  ('Netherlands', 2005): 46.77511118000002,
  ('Netherlands', 2006): 60.991290440000014,
  ('Netherlands', 2007): 48.552513709999985,
  ('Singapore', 2004): 44.16720985999998,
  ('Singapore', 2005): 51.1028453400001,
  ('Singapore', 2006): 63.72264193999998,
  ('Singapore', 2007): 49.46803066,
  ('Spain', 2004): 30.058286740000007,
  ('Spain', 2005): 41.29791219999999,
  ('Spain', 2006): 58.38754620999997,
  ('Spain', 2007): 43.892790950000034,
  ('Sweden', 2004): 15.542026869999997,
  ('Sweden', 2005): 25.066249870000007,
  ('Sweden', 2006): 31.51373185999999,
  ('Sweden', 2007): 27.501226730000024,
  ('Switzerland', 2005): 27.416936919999976,
  ('Switzerland', 2006): 43.01502206000002,
  ('Switzerland', 2007): 34.458717160000006,
  ('United Kingdom', 2004): 61.90996072000002,
  ('United Kingdom', 2005): 72.91296775000002,
  ('United Kingdom', 2006): 88.47432044,
  ('United Kingdom', 2007): 68.00116607999998,
  ('United States', 2004): 185.95210129000012,
  ('United States', 2005): 211.40883390999983,
  ('United States', 2006): 268.42605383000006,
  ('United States', 2007): 200.21457571000013,
  ('World', 2004): 968.4751375200046,
  ('World', 2005): 1218.1774665200053,
  ('World', 2006): 1560.738879839999,
  ('World', 2007): 1171.9508780600052}}

In [83]:
flat_data = {}

for revenue_type, revenue_dictionary in data_dict.items():
    for country_year, revenue in revenue_dictionary.items():
        country = country_year[0]
        year = country_year[1]
        plot_name = "_".join([country,revenue_type])
        if  plot_name not in flat_data:
            flat_data[plot_name] = {"name": plot_name, "values": []}
        flat_data[plot_name]["values"].append({"x": str(year), "y": revenue})   

d3_plot_list = []
for kaye,value in flat_data.items():
    d3_plot_list.append(value)
d3_plot_list

[{'name': 'Australia_Revenue',
  'values': [{'x': '2005', 'y': 25.607043500000017},
   {'x': '2006', 'y': 47.799737140000005},
   {'x': '2007', 'y': 35.893188499999994}]},
 {'name': 'Austria_Revenue',
  'values': [{'x': '2004', 'y': 30.342789669999995},
   {'x': '2005', 'y': 34.568089629999996},
   {'x': '2006', 'y': 44.996737039999985},
   {'x': '2007', 'y': 33.801788980000005}]},
 {'name': 'Belgium_Revenue',
  'values': [{'x': '2004', 'y': 16.07304772},
   {'x': '2005', 'y': 30.396297490000016},
   {'x': '2006', 'y': 38.37543268000002},
   {'x': '2007', 'y': 28.186839740000018}]},
 {'name': 'Brazil_Revenue',
  'values': [{'x': '2004', 'y': 29.211007610000014},
   {'x': '2005', 'y': 34.23487629999999},
   {'x': '2006', 'y': 43.38995366},
   {'x': '2007', 'y': 31.440841480000014}]},
 {'name': 'Canada_Revenue',
  'values': [{'x': '2004', 'y': 59.27167652000001},
   {'x': '2005', 'y': 75.42838609000005},
   {'x': '2006', 'y': 98.13406939000002},
   {'x': '2007', 'y': 73.32520939000005}]},
 {'name': 'China_Revenue',
  'values': [{'x': '2004', 'y': 68.42169423000003},
   {'x': '2005', 'y': 79.08048780000003},
   {'x': '2006', 'y': 99.10935166999988},
   {'x': '2007', 'y': 70.63337705999999}]},
 {'name': 'Denmark_Revenue',
  'values': [{'x': '2004', 'y': 14.114491579999992},
   {'x': '2005', 'y': 15.893266560000004},
   {'x': '2006', 'y': 20.05046570999999},
   {'x': '2007', 'y': 11.954799660000006}]},
 {'name': 'Finland_Revenue',
  'values': [{'x': '2004', 'y': 36.353326760000016},
   {'x': '2005', 'y': 47.82664739999999},
   {'x': '2006', 'y': 59.64862002999999},
   {'x': '2007', 'y': 44.74671594}]},
 {'name': 'France_Revenue',
  'values': [{'x': '2004', 'y': 67.04585997000001},
   {'x': '2005', 'y': 72.23782499},
   {'x': '2006', 'y': 83.07592112000003},
   {'x': '2007', 'y': 64.20989607}]},
 {'name': 'Germany_Revenue',
  'values': [{'x': '2004', 'y': 61.539365409999995},
   {'x': '2005', 'y': 65.23804533},
   {'x': '2006', 'y': 78.11378653999991},
   {'x': '2007', 'y': 57.42183150999999}]},
 {'name': 'Italy_Revenue',
  'values': [{'x': '2004', 'y': 32.017325570000004},
   {'x': '2005', 'y': 46.13592514999997},
   {'x': '2006', 'y': 61.86904939999997},
   {'x': '2007', 'y': 46.62579855999998}]},
 {'name': 'Japan_Revenue',
  'values': [{'x': '2004', 'y': 75.78110832999998},
   {'x': '2005', 'y': 86.34022966},
   {'x': '2006', 'y': 112.13701479999992},
   {'x': '2007', 'y': 83.18825416000001}]},
 {'name': 'Korea_Revenue',
  'values': [{'x': '2004', 'y': 42.15117455000002},
   {'x': '2005', 'y': 50.84497303000003},
   {'x': '2006', 'y': 60.714213160000014},
   {'x': '2007', 'y': 47.01494635000002}]},
 {'name': 'Mexico_Revenue',
  'values': [{'x': '2004', 'y': 27.8174082},
   {'x': '2005', 'y': 42.363571969999995},
   {'x': '2006', 'y': 58.60426471000001},
   {'x': '2007', 'y': 38.40176834}]},
 {'name': 'Netherlands_Revenue',
  'values': [{'x': '2004', 'y': 35.385280990000005},
   {'x': '2005', 'y': 44.42165964000002},
   {'x': '2006', 'y': 58.30176795000005},
   {'x': '2007', 'y': 46.21296804999998}]},
 {'name': 'Singapore_Revenue',
  'values': [{'x': '2004', 'y': 41.360570890000005},
   {'x': '2005', 'y': 48.204222880000046},
   {'x': '2006', 'y': 60.942902919999966},
   {'x': '2007', 'y': 47.114688349999966}]},
 {'name': 'Spain_Revenue',
  'values': [{'x': '2004', 'y': 28.302695480000008},
   {'x': '2005', 'y': 39.23762010999997},
   {'x': '2006', 'y': 55.846232969999996},
   {'x': '2007', 'y': 41.67991566}]},
 {'name': 'Sweden_Revenue',
  'values': [{'x': '2004', 'y': 14.775910280000007},
   {'x': '2005', 'y': 23.96699715},
   {'x': '2006', 'y': 30.360527049999995},
   {'x': '2007', 'y': 26.308001060000002}]},
 {'name': 'Switzerland_Revenue',
  'values': [{'x': '2005', 'y': 26.286562369999977},
   {'x': '2006', 'y': 41.463606440000014},
   {'x': '2007', 'y': 32.981706700000025}]},
 {'name': 'United Kingdom_Revenue',
  'values': [{'x': '2004', 'y': 58.286458939999996},
   {'x': '2005', 'y': 69.42060357000003},
   {'x': '2006', 'y': 84.92082567000007},
   {'x': '2007', 'y': 64.88165837999996}]},
 {'name': 'United States_Revenue',
  'values': [{'x': '2004', 'y': 176.1016110199999},
   {'x': '2005', 'y': 201.46225953999988},
   {'x': '2006', 'y': 258.03662085000013},
   {'x': '2007', 'y': 191.3120801300001}]},
 {'name': 'World_Revenue',
  'values': [{'x': '2004', 'y': 914.352803720002},
   {'x': '2005', 'y': 1159.1955901600013},
   {'x': '2006', 'y': 1495.891100899997},
   {'x': '2007', 'y': 1117.336274069999}]},
 {'name': 'Australia_Planned revenue',
  'values': [{'x': '2005', 'y': 27.032910209999997},
   {'x': '2006', 'y': 50.346078859999984},
   {'x': '2007', 'y': 37.93281702000002}]},
 {'name': 'Austria_Planned revenue',
  'values': [{'x': '2004', 'y': 31.497703969999993},
   {'x': '2005', 'y': 35.99458276000001},
   {'x': '2006', 'y': 46.748631140000015},
   {'x': '2007', 'y': 35.308439069999984}]},
 {'name': 'Belgium_Planned revenue',
  'values': [{'x': '2004', 'y': 16.64004783},
   {'x': '2005', 'y': 32.001318480000016},
   {'x': '2006', 'y': 40.02630886000004},
   {'x': '2007', 'y': 29.528025130000007}]},
 {'name': 'Brazil_Planned revenue',
  'values': [{'x': '2004', 'y': 30.71563022000001},
   {'x': '2005', 'y': 35.916138589999996},
   {'x': '2006', 'y': 45.151584060000005},
   {'x': '2007', 'y': 32.914074670000005}]},
 {'name': 'Canada_Planned revenue',
  'values': [{'x': '2004', 'y': 62.519525960000024},
   {'x': '2005', 'y': 78.69235903000002},
   {'x': '2006', 'y': 101.90027064000002},
   {'x': '2007', 'y': 76.54090415000003}]},
 {'name': 'China_Planned revenue',
  'values': [{'x': '2004', 'y': 72.80655674999998},
   {'x': '2005', 'y': 83.25753426000004},
   {'x': '2006', 'y': 103.73573283999991},
   {'x': '2007', 'y': 74.28215390000001}]},
 {'name': 'Denmark_Planned revenue',
  'values': [{'x': '2004', 'y': 14.912451859999996},
   {'x': '2005', 'y': 16.48229775},
   {'x': '2006', 'y': 20.761695339999985},
   {'x': '2007', 'y': 12.369675739999998}]},
 {'name': 'Finland_Planned revenue',
  'values': [{'x': '2004', 'y': 38.74676439000003},
   {'x': '2005', 'y': 50.45299691000001},
   {'x': '2006', 'y': 62.523653260000025},
   {'x': '2007', 'y': 47.22684974999999}]},
 {'name': 'France_Planned revenue',
  'values': [{'x': '2004', 'y': 70.79659559},
   {'x': '2005', 'y': 75.72149547999996},
   {'x': '2006', 'y': 86.41380875999997},
   {'x': '2007', 'y': 67.23441434000004}]},
 {'name': 'Germany_Planned revenue',
  'values': [{'x': '2004', 'y': 65.18942039000002},
   {'x': '2005', 'y': 68.46743724000004},
   {'x': '2006', 'y': 81.53692949999991},
   {'x': '2007', 'y': 60.282231750000015}]},
 {'name': 'Italy_Planned revenue',
  'values': [{'x': '2004', 'y': 33.959650470000014},
   {'x': '2005', 'y': 48.502247229999966},
   {'x': '2006', 'y': 64.71885552000002},
   {'x': '2007', 'y': 49.00110938000002}]},
 {'name': 'Japan_Planned revenue',
  'values': [{'x': '2004', 'y': 80.34040583999993},
   {'x': '2005', 'y': 90.61093435000005},
   {'x': '2006', 'y': 116.61793572999993},
   {'x': '2007', 'y': 86.86860969999995}]},
 {'name': 'Korea_Planned revenue',
  'values': [{'x': '2004', 'y': 45.318723320000004},
   {'x': '2005', 'y': 54.049851820000015},
   {'x': '2006', 'y': 63.87845284000002},
   {'x': '2007', 'y': 49.69256072000004}]},
 {'name': 'Mexico_Planned revenue',
  'values': [{'x': '2004', 'y': 29.80385034999998},
   {'x': '2005', 'y': 45.01450523999999},
   {'x': '2006', 'y': 61.848335709999986},
   {'x': '2007', 'y': 40.67999173999998}]},
 {'name': 'Netherlands_Planned revenue',
  'values': [{'x': '2004', 'y': 37.59822509999997},
   {'x': '2005', 'y': 46.77511118000002},
   {'x': '2006', 'y': 60.991290440000014},
   {'x': '2007', 'y': 48.552513709999985}]},
 {'name': 'Singapore_Planned revenue',
  'values': [{'x': '2004', 'y': 44.16720985999998},
   {'x': '2005', 'y': 51.1028453400001},
   {'x': '2006', 'y': 63.72264193999998},
   {'x': '2007', 'y': 49.46803066}]},
 {'name': 'Spain_Planned revenue',
  'values': [{'x': '2004', 'y': 30.058286740000007},
   {'x': '2005', 'y': 41.29791219999999},
   {'x': '2006', 'y': 58.38754620999997},
   {'x': '2007', 'y': 43.892790950000034}]},
 {'name': 'Sweden_Planned revenue',
  'values': [{'x': '2004', 'y': 15.542026869999997},
   {'x': '2005', 'y': 25.066249870000007},
   {'x': '2006', 'y': 31.51373185999999},
   {'x': '2007', 'y': 27.501226730000024}]},
 {'name': 'Switzerland_Planned revenue',
  'values': [{'x': '2005', 'y': 27.416936919999976},
   {'x': '2006', 'y': 43.01502206000002},
   {'x': '2007', 'y': 34.458717160000006}]},
 {'name': 'United Kingdom_Planned revenue',
  'values': [{'x': '2004', 'y': 61.90996072000002},
   {'x': '2005', 'y': 72.91296775000002},
   {'x': '2006', 'y': 88.47432044},
   {'x': '2007', 'y': 68.00116607999998}]},
 {'name': 'United States_Planned revenue',
  'values': [{'x': '2004', 'y': 185.95210129000012},
   {'x': '2005', 'y': 211.40883390999983},
   {'x': '2006', 'y': 268.42605383000006},
   {'x': '2007', 'y': 200.21457571000013}]},
 {'name': 'World_Planned revenue',
  'values': [{'x': '2004', 'y': 968.4751375200046},
   {'x': '2005', 'y': 1218.1774665200053},
   {'x': '2006', 'y': 1560.738879839999},
   {'x': '2007', 'y': 1171.9508780600052}]}]

In [84]:
import json
with open('data/revenue.json', 'w') as outfile:
    json.dump(d3_plot_list, outfile)